@font-face {
    font-family: "Station";
    src: url("https://db.onlinewebfonts.com/t/4fc7a085792340fab7ee70d72018b0ab.eot");
    src: url("https://db.onlinewebfonts.com/t/4fc7a085792340fab7ee70d72018b0ab.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/4fc7a085792340fab7ee70d72018b0ab.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/4fc7a085792340fab7ee70d72018b0ab.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/4fc7a085792340fab7ee70d72018b0ab.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/4fc7a085792340fab7ee70d72018b0ab.svg#Station")format("svg");
}
  
@font-face {
    font-family: "Budmo W00 Solid";
    src: url("https://db.onlinewebfonts.com/t/4c4a8b4f494bf44c6891cbd63789c881.eot");
    src: url("https://db.onlinewebfonts.com/t/4c4a8b4f494bf44c6891cbd63789c881.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/4c4a8b4f494bf44c6891cbd63789c881.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/4c4a8b4f494bf44c6891cbd63789c881.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/4c4a8b4f494bf44c6891cbd63789c881.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/4c4a8b4f494bf44c6891cbd63789c881.svg#Budmo W00 Solid")format("svg");
}


.App {
    text-align: center;
}
  
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.admin {
    display: flex;
    justify-content: space-evenly;
    min-height: 100vh;
    background-image: url("../public/img/article-background.png");
    background-color: #ffffff;
  
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


.nav-panel{
    background-color: #ffffff;
    /*
    max-width: 80%;
    min-height: 650px;
    padding: 35px 50px;
    */
    border-radius: 10px;
    box-shadow: 20px 30px 25px rgba(0,0,0,0.15);
}

.panel-header {
    max-width: 100%;
    min-height: 40vh;
    background-image: url("../public/img/article-background.png");
    background-color: #ffffff;
  
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/*
.panel-cards {
    display: flex;
    justify-content: space-between;
}

.panel-cards .column {
    background-color: pink;
    max-width: 100px;
    max-height: auto;
}
*/

.panel-cards {
    position: relative;
    top: -80px; /* Adjust this value to control the overlap */
    z-index: 1;
}

/*
#cardset {
    position: relative;
    top: -50px;
    
}
*/
#card {
    margin: 10px;
    max-width: 400px;
    max-height: 300px;
    background-color: #ffffff;
    border: 1px solid #c9bebe;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
}





