.App {
  text-align: center;
}

body {
  margin: 0;
  background-color: #f0f0f0;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.logo {
  width: 130px;
  height: 55px;
}

.navbar {
  background-color: rgba(74, 78, 161, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  /*background: linear-gradient(to right,rgba(74, 78, 161, 0.4) 15% , hsl(255, 33%, 70%, 0.4),  hsl(237, 37%, 46%, 0.4) 90%);*/
}

.dropdown-toggle::after {
  display: none !important; 
}


.navbar .nav-drop .dropdown-menu{
  background-color: hsl(256, 16%, 80%);
  display: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.navbar .nav-drop:hover .dropdown-menu {
  display: block;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s, visibility 0.3s;
  
}

.navbar .nav-drop .dropdown-menu .dropdown-item:hover {
  background-color: transparent;
}


.linkText {
  color: #21409a;
  position: relative;
}

.linkText::after {
  color: #21409a;
  content: "";
  background: #6e9acb;
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: -2px;
  opacity: 0;
  left: 0px;

}

.linkText:hover{
  color: #6e9acb;
  /*color: #bd2529;*/
  width: 100%;
}

@media (min-width: 992px) {
  .linkText:hover::after{
    opacity: 1;
  }
}


.sublinkText {
  color: #21409a;
}

.sublinkText:hover{
  color: #2b69af;
}

@font-face {
  font-family: "Station";
  src: url("https://db.onlinewebfonts.com/t/4fc7a085792340fab7ee70d72018b0ab.eot");
  src: url("https://db.onlinewebfonts.com/t/4fc7a085792340fab7ee70d72018b0ab.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/4fc7a085792340fab7ee70d72018b0ab.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/4fc7a085792340fab7ee70d72018b0ab.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/4fc7a085792340fab7ee70d72018b0ab.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/4fc7a085792340fab7ee70d72018b0ab.svg#Station")format("svg");
}

@font-face {
  font-family: "Budmo W00 Solid";
  src: url("https://db.onlinewebfonts.com/t/4c4a8b4f494bf44c6891cbd63789c881.eot");
  src: url("https://db.onlinewebfonts.com/t/4c4a8b4f494bf44c6891cbd63789c881.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/4c4a8b4f494bf44c6891cbd63789c881.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/4c4a8b4f494bf44c6891cbd63789c881.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/4c4a8b4f494bf44c6891cbd63789c881.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/4c4a8b4f494bf44c6891cbd63789c881.svg#Budmo W00 Solid")format("svg");
}

.logotitle1 {
  color: #bd2529;
  font-family: "Budmo W00 Solid";
}

.logotitle2 {
  color: #21409a;
  font-family: "Station";
  font-weight: 1000;
}

.logotitle1, .logotitle2 {
  margin: 0;
  margin-right: 10px;

}

.home-top-div {
  display: flex;
  justify-content: space-evenly;
  min-height: 70vh;
  background-image: url("../public/img/GET-background-blur.png");
  background-color: #ffffff;


  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


.title-header {
  text-align: center;
} 


.title-header h1 {
  color: #bd2529;
  font-family: "Budmo W00 Solid";
}


.youtube-video {
  width:  90vw;
  height: 50.625vw; /* 90*9/16 */
  
}

@media (min-width: 893px) {
  .youtube-video {
    width: 45vw;
    height: 25.3125vw; /* 45*9/16 */
    margin-left: 2vw;
    margin-right: 2vw;
    margin-bottom: 2vw;
  }
}

.home-content-1 {
  /*
  min-height: 100vh;
  background-image: url("../public/img/section-background.png");
  background-color: #ffffff;

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover ;
  */
  background-color: #fcfcfc;
}

.home-content-1 h2 {
  color: #bd2529;
  font-family: "Budmo W00 Solid";
}

.mCustomScrollbar {
  /*background-color: rgb(74, 78, 161);*/
  font-family: Arial;
  color: rgb(0, 0, 0);
  max-width: 550px;
  min-height: 250px;
  max-height: 400px;
  padding: 10px;
  border: 1px solid #2b69af;
  border-radius: 10px;
  overflow: auto;

}

.title-header ul {
  font-weight: 700;
  padding-top: 20px;
  padding-left: 10px;
}

.right-child h2, .child-title {
  color: #2b69af;
  font-family: "Budmo W00 Solid";

}


.title-rule {
  flex-grow: 1;
  height: 2px; 
  background-color: #2b69af; /* Set rule color */
  margin-left: 10px;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  text-align: left;
}

a {
  text-decoration: none !important;
  color: black;
}

.description {
  margin-left: 50px;
  margin-right: 60px;
  margin-top: 95px;
  color: black;
  text-align: left;
  font-style: Arial;
  
}


.announcements {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  max-width: 550px;
}

.announcements .main-img-container img {
  max-height: 130px;
  width: 200px;
  object-fit: cover;
}

.announcements .main-img-container h5{
  text-align: left;
}


.announcements:hover {
  border: 2px solid #21409a;
}

/*
.main-img-description-container {
  background-color: white;
}
*/
.main-img-container h6 {
  color: white;
}

.main-img-container img {
  max-width: 300px;
  max-height: 200x;
  padding: 10px;
  
}

#Participants {
  max-width: 60%;

}

#Conference2023 {
  max-width: 250px;
  max-height: 400px;
}

/*

.main-img-container .overlay {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  background-color: rgba(10, 4, 4, 0.5);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.main-img-container:hover .overlay {
  height: 100%;
  
}
*/
/*Cards here */



.card {
  max-width: 18rem;
  padding: 10px;
}

.card img {
  height: 200px; /* Set a fixed height for uniformity */
  object-fit: cover;

}

.card-body {
  padding: 1rem;
}

.card-title {
  margin-top: 10px; /* Adjust the margin as needed */
}

.card Button {
  background-color: #6e9acb;
  border: none;
}

.card Button:hover {
  background-color: rgb(33, 64, 154);
  border: none;

}



/*Carousel here*/

@media (min-width: 893px) {
  .owl-carousel {
    max-width: 100%;
    max-height: 100%;
  }

}

.owl-carousel img {
  max-width: 80%; 
  height: auto;
}

.carImages img{
  max-width: 100%;
  height: auto;
}

.carousel {
  max-width: 80%;
  height: auto;
}

/*research section*/

.research-top-div {
  min-height: 40vh;
  background-image: url("../public/img/research-background.png");
  background-color: #ffffff;

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover ;
}


/* Archives */


#issue-cover-div {
  margin-top: 50px;
  margin-bottom: 50px;
}

#issue-cover-div img {
  max-width: 600px;
}

.front-page-img {
  min-width: 400px;
  height: 637.68px;
}

.title-header a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
  
}

.archive-container {
  max-width: 1000px;
}

.archive-info-container p, .archive-info-container h1 {
  color: black;
  font-family: Arial;
}


/* Article Component */

.articleIssue {
  background-color: rgba(240,240,240,1);
}


.articles-top-div {
  min-height: 40vh;
  background-color: white;
}

.articles-top-div img {
  max-width: 300px;
}

.articleIssue p {
  color: black;
  font-size: medium;
  font-family: Arial;
}


/*footer*/

.Footer {
  background-color: rgb(74, 78, 161, 0.3);
  font-style: Arial;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

}

.logo-collection img, .logo-collection-1 img {
  max-width: 240px;
  height: auto;
  padding-bottom: 40px;
}

.logo-collection h4 {
  padding-top: 40px;
  
}

.logo-collection-1 {
  padding-bottom: 25px;
}

.Footer hr, .home-footer hr, .Administration hr, .About hr, .vision-container hr {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.footer-end {
  margin-top: 50px;
}

.copyright2024 {
  background-color: #f1f1f1;
  color: #21409a
}

/* Map */

.leaflet-container {
  min-height: 200px;
  width: auto;
}

/* Contact */


.contactForm h1 {
  color: #2b69af;
  /*color: rgba(74, 78, 161, 0.776);*/
  /*color: white;*/
  font-family: "Budmo W00 Solid";
}

.contact, .social-links {
  text-align: left;
}

/* fA logo */

.social-links {
  color: #21409a;
  /*color: white;*/
  text-align: left;
}

.caption {
  color: #21409a;
  /*color: white;*/
  font-size: medium;
  padding-left: 15px;
}

.social-links a, a:focus, a:active, .about-journal-container a, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

.social-links a:hover {
  color: #2b69af;
  text-decoration: none;
}

/*partner-logo*/

.partner-logo img {
  max-width: 220px; 
  height: 180px;
}


/* Administration page */

/*
.adminMain {
  background-color: rgb(74, 78, 161, 0.3);

}
*/

.Administration {
  background: #f0f0f0;
}

.administration img {
  max-height: 400px;
  height: auto;

}

.administration h1, .Administration hr{
  color: #2b69af;
  
}

.Administration hr {
  border: none;
  height: 2px;
  /* Set the hr color */
  color: #2b69af;  /* old IE */
  background-color: #2b69af;  /* Modern Browsers */
}

.adminMessage {
  max-width: 800px;
}


.adminMessage p {
  font-size: large;
  font-weight: 400;
  color: black;
}


/* About page */

.background-container { 
  font-family: Arial;
  max-width: 1000px;
  border-radius: 10px;
  padding: 30px;

}

.background-container p, .vision-container p {
  font-size: medium;
  text-align: justify;
  color: rgb(0, 0, 0);
}

.background-container h4 {
  color: #21409a;
  font-family: "Budmo W00 Solid";
  text-align: left;
}

.feb2023 img {
  max-width: 300px;
  height: auto;
}

.training2017 img {
  width: 100%;
  max-height: 400px;
}

